* {
    margin: 0;
    padding: 0;
}

/* Bagian Header */

.header {
    /* background-color: #6CBEEB; */
    height: 50px;
    padding: 10px;
    line-height: 50px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(200, 190, 140, 1);
}

.header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-left: 130px;
    /* margin-top: 20px; */
}

.header .logo img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.header .logo h1{
    /* margin-left: 150px;  */
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0px;
    /* margin-left: 10px; */
    margin-top: -20px;
}

.header .menu-header ul{
    list-style: none;
    /* background-color: green; */
    text-align: center;
}

.header .menu-header ul li {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    width: 180px;
    /* border: 1px solid salmon; */
}

.header .menu-header ul li button {
    display: block;
    width: 180px;
    height: 50px;
    padding: 14px 0px;
    color: #000;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-left: 1px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

.header .menu-header ul li a {
    display: block;
    padding: 0px 0px;
    color: #000;
    /* background-color: green; */
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    height: 50px;
    font-size: 18px;
    border: none;
}

.header .menu-header ul li ul.dropdown li {
    display: block;
    background: peachpuff;
    margin:  0px;
    width: 180px;
    margin-left: 1px;
    /* height: ; */
    height: 50px;
    line-height: 50px;
    /* margin-top: 0px; */
}

.header .menu-header ul li ul.dropdown{
    width: auto;
    /* background-color: red; */
    position: absolute;
    /* height: 10px; */
    z-index: 999;
    /* line-height: 50px; */
    /* height: 50px; */
    /* margin-left: 2px; */
    /* border: 1px solid gold; */
    display: none;
    margin-top: 10px;
}

.header .menu-header ul li ul.dropdown li{
    background-color: white;
    /* border: 1px solid salmon; */
    box-shadow: 0px 0px 3px rgba(200, 190, 140, 1);
}


.header .menu-header ul li a:hover {
    background-color: rgba(200, 190, 140, 1);
    color: white;
    line-height: 50px;
    height: 50px;
    margin: 0 10px;
    box-sizing: border-box;
    box-shadow: inset -3px -3px 9px rgba(94, 104, 121, 0.3),
                inset 3px 3px 9px rgba(94, 104, 121, 0.3);
} 

.header .menu-header ul li button:hover {
    background-color: rgba(200, 190, 140, 1);
    color: white;
    width: 160px;
    margin: 0px 10px;
    /* line-height: 50px; */
    /* height: 50px; */
    /* margin: 0 10px; */
    box-sizing: border-box;
    box-shadow: inset -3px -3px 9px rgba(94, 104, 121, 0.3),
                inset 3px 3px 9px rgba(94, 104, 121, 0.3);
}

.header .akun-login {
    display: flex;
    flex-direction: row;
    /* background-color: #f33ff2; */
}

.header .akun-login img{
    height: 30px;
    width: 30px;
    margin-right: 50px;
    margin-top: 0;
    cursor: pointer;
}

.header .akun-login .jumlah-notifikasi p{
    height: 20px;
    position: absolute;
    line-height: 20px;
    padding: 0px 5px;
    right: 133px;
    top: 4px;
    color: white;
    background-color: red;
}


.header .akun-login .akun-profil {
    background-color: white;
    /* height: 1000px; */
    /* width: 1000px; */
    position: absolute;
    right: 30px;
    top: 70px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 190, 140, 1);
    display: none;
}

.header .akun-login .akun-profil .panah {
    height: 30px;
    position: absolute;
    right: -20px;
    top: -25px;
}

.header .akun-login .akun-profil .akun {
    /* display: inline-block; */
    height: 50px;
    /* background-color: #34db4a; */
}

.header .akun-login .akun-profil .akun p{
    font-size: 14;
    font-weight: bold;
    margin-left: -35px;
    /* margin-right: 1px; */
    display: inline-block;
    /* background-color: antiquewhite; */
}

.header .akun-login .akun-profil .akun img{
    margin-top: 12px ;
    float: left;
    margin-left: 20px;
}

.header .akun-login .akun-profil .setting-akun{
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    padding: 0px 20px;
}

.header .akun-login .akun-profil .setting-akun a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-top: 1px solid rgba(200, 190, 140, 1);

}

.header .akun-login .akun-profil .setting-akun a:hover{
    color: red;
    padding-left: 10px;

}

/* Bagian background content */

.content {
    background-color: rgba(200, 190, 140, 1);
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    /* margin-bottom: 50px; */
    padding-top: 70px;
}

.content .sidebar-left{
    background-color: white;
    /* height: 100vh; */
    width: 300px;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 20px;
    align-items: center;
    
    /* border-bottom: 1px solid rgba(200, 190, 140, 1); */
    /* position: fixed; */
    
    /* top: 70px; */
}

.content .sidebar-left form .cari-barang button{
    border: none;
    cursor: pointer;
    background-color: transparent;
} 

.content .sidebar-left .cari-barang{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: -30px;
    margin-top: 10px;
    background-color: rgb(200, 190, 140);
    width: 250px;
    justify-content: center;
    /* height: 70px; */
    padding: 10px 10px;
    box-shadow: inset 1px 1px 5px rgba(200, 190, 140, 1),
                inset -1px -1px 5px rgba(200, 190, 140, 1);
}

.content .sidebar-left .lokasi-barang{
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 20px; */
    margin-top: 10px;
    background-color: rgba(200, 190, 140, 1);
    width: 250px;
    /* justify-content: center; */
    /* height: 70px; */
    padding: 10px 10px;
    box-shadow: inset 1px 1px 5px rgba(200, 190, 140, 1),
                inset -1px -1px 5px rgba(200, 190, 140, 1);
    padding: 10px 10px;
    margin: 30px 0;
}

.content .sidebar-left .lokasi-barang p{
    /* background-color: green; */
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    /* text-shadow: 1px 1px white; */
}

.content .sidebar-left .lokasi-barang input, .content .sidebar-left .kategori input {
    margin: 10px; 
    accent-color: #007bff; /* Changes the color of the checkbox */
    cursor: pointer;
}

.content .sidebar-left .lokasi-barang label, .content .sidebar-left .kategori label {
    font-size: 16px;
    cursor: pointer; 
    /* user-select: none; Prevents text selection */
}


.content .sidebar-left .cari-barang input {
    width: 230px;
    padding: 0 0 0 3px;
    border: none;
    height: 30px;
    border: 1px solid rgba(200, 190, 140, 1);
}

.content .sidebar-left .cari-barang img{
    height: 30px;
    width: 30px;
}

.content .sidebar-left .kategori{
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 20px; */
    margin-top: 10px;
    background-color: rgba(200, 190, 140, 1);
    width: 250px;
    /* justify-content: center; */
    /* height: 70px; */
    padding: 10px 10px;
    box-shadow: inset 1px 1px 5px rgba(200, 190, 140, 1),
                inset -1px -1px 5px rgba(200, 190, 140, 1);
    padding: 10px 10px;
}

.content .sidebar-left .kategori p{
    /* background-color: green; */
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    /* text-shadow: 1px 1px white; */
}

.content .sidebar-left .filter button{
    border: none;
    background-color: rgb(13, 48, 243);
    width: 270px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    margin-top: 50px;
    /* text-shadow: 0px 0px 3px white; */
    text-transform: uppercase;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content .sidebar-left .filter button:hover{
    background-color: rgba(99, 120, 241, 1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3),
                -1px -1px 1px rgba(0, 0, 0, .3);
}

.content .sidebar-right{
    /* background-color: aqua; */
    margin-top: 20px;
    /* padding-bottom: 20px; */
    width: 1240px;
    /* height: 100vh; */
    /* margin-left: 320px; */
}

.content .sidebar-right p {
    text-align: left;
}

.content .sidebar-right p.judul{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 3px black;
}


.content .sidebar-right p.kategoriText, .content .sidebar-right p.lokasiText{
    font-size: 16px;
    color: black;
    font-family: 'Lobster', cursive;
}

.content .sidebar-right .isi-sidebar-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    
    /* background-color: aqua; */
    /* margin: 0px -20px; */
    margin: 0 auto;
    /* justify-content: center; */
    /* gap: 30px; */
}

.content .sidebar-right .isi-sidebar-right .item-barang {
    /* height: 350px; */
    width: 450px;
    background-color: white;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    margin-top: 20px;   
    /* margin-left: 120px; */
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 15px 30px;
    flex-direction: column;
}

.content .sidebar-right .isi-sidebar-right .item-barang:last-child{
    margin-bottom: 50px;
}

.content .sidebar-right .isi-sidebar-right .item-barang .user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.content .sidebar-right .isi-sidebar-right .item-barang .user img{
    height: 30px;
    width: 30px;
}

.content .sidebar-right .isi-sidebar-right .item-barang img{
    height: 350px;
    width: 450px;
}

.content .sidebar-right .isi-sidebar-right .item-barang table {
    /* height: 350px; */
    width: 450px;
    border-collapse: collapse;
}

th {
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

td {
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

th, td {
    background-color: rgb(248, 248, 248);
    padding: 5px 0;
    text-align: left;
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0,1);
    
}
.content .sidebar-right .isi-sidebar-right .item-barang table tr{
    height: 30px;
}

.content .sidebar-right .isi-sidebar-right .item-barang table tr:nth-child(6){
    height: 130px;
    vertical-align: top;
}

.content .sidebar-right .isi-sidebar-right .item-barang table tr td {
    padding: 0px 5px;
    text-align: justify;
}

.content .sidebar-right .isi-sidebar-right .item-barang table tr th {
    /* background-color: rgb(222, 222, 222); */
    width: 140px;
    padding: 0 5px;
}

.content .sidebar-right .isi-sidebar-right .item-barang .reaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin-top: 0px; */
    /* background-color: aqua; */
    /* border-top: 1px solid black; */
}

.content .sidebar-right .isi-sidebar-right .item-barang .reaction .like {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    /* background-color: aqua; */
    /* border-top: 1px solid black; */
}

.content .sidebar-right .isi-sidebar-right .item-barang .reaction .klaim .submitKlaim{
    background-color: rgb(84, 177, 84);
    /* padding: 5px 20px; */
    border-radius: 5px;
    /* height: 25px; */
    /* line-height: 25px; */
    font-weight: bold;
    width: 450px;
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;    color: black;
    /* text-transform: uppercase; */
    border-radius: 5px;
    color: white;
    /* letter-spacing: 2px; */
}

.content .sidebar-right .isi-sidebar-right .item-barang .reaction .klaim .submitKlaim:hover{
    color: black;
    /* border: 1px solid rgb(74, 224, 74); */
    background-color: rgb(127, 240, 127);
}

.content .sidebar-right .isi-sidebar-right .item-barang .reaction .like img{
    height: 30px;
    width: 30px;
}


.content .sidebar-right .data-kosong {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-kosong p {
    font-size: 18px;
    color: #000;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

.back-top img{
    position: fixed;
    right: 50px;
    bottom: 30px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

.footer {
    /* margin-top: 200px; */
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 190, 140, 1);
    color: #000;
    padding: 20px 0 0 0;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(200, 190, 140, 1);
    line-height: 1.6;
}
.footer .footer-content {
    display: flex;
    /* background-color: #34db4a; */
    flex-direction: row;
    justify-content: space-around; /* Space between the items */
    align-items: flex-start; /* Align items at the start */
    /* max-width: 1250px; Limit the width to ensure proper spacing */
    width: 100%; /* Ensure the footer content takes full width */
    margin: auto; /* Center the footer content */
}
.footer .footer-section {
    /* flex: 1; */
    margin: 20px;
    min-width: 250px;
}

.footer .footer-section h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.footer .footer-section h2 {
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 100px;
    font-weight: 600;
}

.footer .footer-section p {
    font-size: 16px;
    font-family: 'Lobster', cursive;
    line-height: 1.8;
    /* margin-bottom: 20px; */
    padding-left: 15px;
    
}
.footer .contact {
    padding-left: 15px;
    margin-top: 5px;
}
.footer .contact span {
    display: block;
    font-family: 'Lobster', cursive;
    margin-bottom: 5px;
    font-size: 14px;
}
.footer .contact img {
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.footer .social-icons img {
    height: 30px;
    width: 30px;
}

.footer .social-icons {
    /* background-color: yellowgreen; */
    margin-left: 100px;
}

.footer .social-icons a {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.footer .footer-bottom {
    text-align: center;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    /* background-color: rgba(200, 190, 140, 1); */
    line-height: 50px;
    font-family: 'Lobster', cursive;
    /* background-color: #34db4a; */
    border-top: 1px solid #444;
    box-shadow:  0 3px 7px rgba(0, 0, 0, 1);
}

.footer .social-icons img {
    transition: transform 0.3s ease;
}
.footer .social-icons img:hover {
    transform: scale(1.30);
}