* {
    margin: 0;
    padding: 0;
}

/* .header .menu-header ul {
    list-style: none;
    background-color: darkblue;
    text-align: center;
}

.header .menu-header ul li {
    display: inline-block;
    position: relative;
}

.header .menu-header ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.header .menu-header ul li ul.dropdown li {
    display: block;
    background: #333;
    margin: 2px 0px;
}

.header .menu-header ul li ul.dropdown{
    width: auto;
    background-color: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}

.header .menu-header ul li a:hover {
    background-color: bisque;
}

.header .menu-header ul li:hover ul.dropdown{
    display: block;
} */

/* Bagian Header */

.header {
    /* background-color: #6CBEEB; */
    height: 50px;
    padding: 10px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    margin-left: 150px;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
}

.header .menu-header ul{
    list-style: none;
    /* background-color: green; */
    text-align: center;
}

.header .menu-header ul li {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    width: 180px;
    /* border: 1px solid salmon; */
}

.header .menu-header ul li a {
    display: block;
    padding: 0px 0px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.header .menu-header ul li ul.dropdown li {
    display: block;
    background: peachpuff;
    margin:  0px;
    width: 180px;
    margin-left: 1px;
    /* height: ; */
    height: 50px;
    line-height: 50px;
    /* margin-top: 0px; */
}

.header .menu-header ul li ul.dropdown{
    width: auto;
    /* background-color: red; */
    position: absolute;
    /* height: 10px; */
    z-index: 999;
    /* line-height: 50px; */
    /* height: 50px; */
    /* margin-left: 2px; */
    /* border: 1px solid gold; */
    display: none;
    margin-top: 10px;
}

.header .menu-header ul li ul.dropdown li{
    background-color: white;
    /* border: 1px solid salmon; */
    box-shadow: 0px 0px 3px rgba(200, 190, 140, 1);
}


.header .menu-header ul li a:hover {
    background-color: rgba(200, 190, 140, 1);
    color: white;
    line-height: 50px;
    height: 50px;
    margin: 0 10px;
    box-sizing: border-box;
    box-shadow: inset -3px -3px 9px rgba(94, 104, 121, 0.3),
                inset 3px 3px 9px rgba(94, 104, 121, 0.3);
} 

/* .header .menu-header ul li:hover ul.dropdown{
    display: block;
    margin: 10px 0px 0px 0px;
    height: 70px;
} */

/* .header .menu-header ul li:hover ul.dropdown li{
    border: 1px solid saddlebrown;
    height: 70;
    margin-top: -10px;
} */

/* .header .menu-header ul li:hover ul.dropdown li:hover{
    margin-top: 10px;
    height: 70px;
    line-height: 70px;
} */


/* .menu-header ul li{
    margin-right: 30px;
    display: inline-block;
} */

/* .menu-header ul li a{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3498db;
    color: black;
} */

/* .menu-header ul li:first-child a{
    background-color: #3498db;
    color: white;
}

.menu-header ul li a:hover{
    padding: 13px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3),
                0 2px 3px rgba(0, 0, 0, 0.3);;
} */

.header .akun-login {
    display: flex;
    flex-direction: row;
    /* background-color: #f33ff2; */
}

.header .akun-login img{
    height: 30px;
    width: 30px;
    margin-right: 50px;
    margin-top: 0;
    cursor: pointer;
}

.header .akun-login .jumlah-notifikasi p{
    height: 20px;
    position: absolute;
    line-height: 20px;
    padding: 0px 5px;
    right: 133px;
    top: 4px;
    color: white;
    background-color: red;
}


.header .akun-login .akun-profil {
    background-color: white;
    /* height: 1000px; */
    /* width: 1000px; */
    position: absolute;
    right: 30px;
    top: 70px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 190, 140, 1);
    display: none;
}

.header .akun-login .akun-profil .panah {
    height: 30px;
    position: absolute;
    right: -20px;
    top: -25px;
}

.header .akun-login .akun-profil .akun {
    /* display: inline-block; */
    height: 50px;
    /* background-color: #34db4a; */
}

.header .akun-login .akun-profil .akun p{
    font-size: 14;
    font-weight: bold;
    margin-left: -35px;
    /* margin-right: 1px; */
    display: inline-block;
    /* background-color: antiquewhite; */
}

.header .akun-login .akun-profil .akun img{
    margin-top: 12px ;
    float: left;
    margin-left: 20px;
}

.header .akun-login .akun-profil .setting-akun{
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    padding: 0px 20px;
}

.header .akun-login .akun-profil .setting-akun a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-top: 1px solid rgba(200, 190, 140, 1);

}

.header .akun-login .akun-profil .setting-akun a:hover{
    color: red;
    padding-left: 10px;

}

/* Bagian background content */

.content {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    /* flex-direction: row; */
}

.content .background-content{
    background-image: url('../HTML/image/background.jpg');
    height: 500px;
    background-position: 10px -100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
}


.content .background-content .text-content{
    background-color: rgba(200, 190, 140, 0.9);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.content .background-content .text-content p{
    text-transform: uppercase;
    opacity: 1;
}

.content .background-content .text-content .input-content{
    margin-top: 30px;
}

.content .background-content .text-content .input-content span{
    background-color: white;
    padding: 10px 30px;
    margin-right: 10px;
    cursor: pointer;
}

.content .background-content .text-content .input-content span:last-child{
    background-color: #34db4a;
}

.content .background-content .text-content .input-content span a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.content .background-content .text-content .input-content span:last-child a{
    color: white;
}

.content .background-content .text-content .input-content span:hover{
    padding: 13px 33px;
    box-shadow: 0 2px 3px rgba(124, 124, 124, 0.1),
                0 2px 3px rgba(124, 124, 124, .1);;
}


.content .background-content .search{
    /* background-color: #34db4a; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
}

.content .background-content .search input{
    /* background-color: #34db4a; */
    height: 25px;
    width: 300px;
    padding-left: 10px;
}

.content .background-content .search img{
    height: 20px;
    background-color: rgb(52, 152, 219);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.content .background-content p:nth-child(1){
    font-size: 40px;
}
.content .background-content p:nth-child(2){
    font-size: 30px;
}
.content .background-content p:nth-child(3){
    font-size: 40px;
}

.content .isi-content {
    text-align: center;
    display: flex;
    height: 400px;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .45);
}

.content .isi-content .item{
    width: 180px;
    background-color: rgba(200, 190, 140, 1);
    height: 200px;
    padding: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3),
                0 2px 3px rgba(0, 0, 0, 0.3);;
}

.content .isi-content .kategori{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

.content .isi-content .kategori h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgba(200, 190, 140, 1);
    text-shadow: 2px 1px 3px black;
}

.content .isi-content .kategori .isi-kategori{
    display: flex;
    flex-direction: row;
    /* margin-top: 1500px; */
    gap: 75px;
}

.content .isi-content a{
    text-decoration: none;
    color: black;
}

.content .isi-content a:active{
    color: black;
}

.content .isi-content a:visited{
    color: black;
}

.content .isi-content .item:hover{
    box-shadow: inset -5px -5px 9px rgba(94, 104, 121, 0.3),
                inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    color: black;
    cursor: pointer;
}

.content .isi-content img{
    width: 150px;
    height: 150px;
}

.content .isi-content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px white;
    letter-spacing: 3px;
}

.footer{
    background-color: rgba(200, 190, 140, 1);
    margin-top: 100px;
    padding: 20px 0;
}

.footer p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 5px white;
}