* {
    margin: 0;
    padding: 0;
}


/* Bagian Header */

.header {
    /* background-color: #6CBEEB; */
    height: 50px;
    padding: 10px;
    line-height: 50px;

    background-color: white;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(200, 190, 140, 1);
}

.header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-left: 200px;
    /* margin-top: 0px; */
}

.header .logo img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.header .logo h1{
    /* margin-left: 150px;  */
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0px;
    /* margin-left: 10px; */
    margin-top: -20px;
}

.header .menu-header ul{
    list-style: none;
    /* background-color: green; */
    text-align: center;
}

.header .menu-header ul li {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    width: 180px;
    /* border: 1px solid salmon; */
}

.header .menu-header ul li a {
    display: block;
    padding: 0px 0px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.header .menu-header ul li ul.dropdown li {
    display: block;
    background: peachpuff;
    margin:  0px;
    width: 180px;
    margin-left: 1px;
    /* height: ; */
    height: 50px;
    line-height: 50px;
    /* margin-top: 0px; */
}

.header .menu-header ul li ul.dropdown{
    width: auto;
    /* background-color: red; */
    position: absolute;
    /* height: 10px; */
    z-index: 999;
    /* line-height: 50px; */
    /* height: 50px; */
    /* margin-left: 2px; */
    /* border: 1px solid gold; */
    display: none;
    margin-top: 10px;
}

.header .menu-header ul li ul.dropdown li{
    background-color: white;
    /* border: 1px solid salmon; */
    box-shadow: 0px 0px 3px rgba(200, 190, 140, 1);
}


.header .menu-header ul li a:hover {
    background-color: rgba(200, 190, 140, 1);
    color: white;
    line-height: 50px;
    height: 50px;
    margin: 0 10px;
    box-sizing: border-box;
    box-shadow: inset -3px -3px 9px rgba(94, 104, 121, 0.3),
                inset 3px 3px 9px rgba(94, 104, 121, 0.3);
} 

.header .akun-login {
    display: flex;
    flex-direction: row;
    /* background-color: #f33ff2; */
}

.header .akun-login img{
    height: 30px;
    width: 30px;
    margin-right: 50px;
    margin-top: 0;
    cursor: pointer;
}

.header .akun-login .jumlah-notifikasi p{
    height: 20px;
    position: absolute;
    line-height: 20px;
    padding: 0px 5px;
    right: 133px;
    top: 4px;
    color: white;
    background-color: red;
}


.header .akun-login .akun-profil {
    background-color: white;
    /* height: 1000px; */
    /* width: 1000px; */
    position: absolute;
    right: 30px;
    top: 70px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 190, 140, 1);
    display: none;
}

.header .akun-login .akun-profil .panah {
    height: 30px;
    position: absolute;
    right: -20px;
    top: -25px;
}

.header .akun-login .akun-profil .akun {
    /* display: inline-block; */
    height: 50px;
    /* background-color: #34db4a; */
}

.header .akun-login .akun-profil .akun p{
    font-size: 14;
    font-weight: bold;
    margin-left: -35px;
    /* margin-right: 1px; */
    display: inline-block;
    /* background-color: antiquewhite; */
}

.header .akun-login .akun-profil .akun img{
    margin-top: 12px ;
    float: left;
    margin-left: 20px;
}

.header .akun-login .akun-profil .setting-akun{
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    padding: 0px 20px;
}

.header .akun-login .akun-profil .setting-akun a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-top: 1px solid rgba(200, 190, 140, 1);

}

.header .akun-login .akun-profil .setting-akun a:hover{
    color: red;
    padding-left: 10px;

}

/* Bagian background content */

.content {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    /* flex-direction: row; */
}

.content .background-content{
    background-image: url('../PHP/image/background.jpg');
    height: 500px;
    background-position: 10px -50px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
}


.content .background-content .text-content{
    background-color: rgba(200, 190, 140, .9);
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.content .background-content .text-content p{
    text-transform: uppercase;
    opacity: 1;
    color: black;
}

.content .background-content .text-content p span.textSpan {
    color: white;
}

.content .background-content .text-content .input-content{
    margin-top: 30px;
}

.content .background-content .text-content .input-content span{
    background-color: white;
    padding: 10px 30px;
    margin-right: 10px;
    cursor: pointer;
}

.content .background-content .text-content .input-content span:last-child{
    background-color: #34db4a;
}

.content .background-content .text-content .input-content span a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.content .background-content .text-content .input-content span:last-child a{
    color: white;
}

.content .background-content .text-content .input-content span:hover{
    padding: 13px 33px;
    box-shadow: 0 2px 3px rgba(124, 124, 124, 0.1),
                0 2px 3px rgba(124, 124, 124, .1);;
}


.content .background-content .search{
    /* background-color: #34db4a; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
}

.content .background-content .search input{
    /* background-color: #34db4a; */
    height: 25px;
    width: 300px;
    padding-left: 10px;
}

.content .background-content .search img{
    height: 20px;
    background-color: rgb(52, 152, 219);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.content .background-content p:nth-child(1){
    font-size: 40px;
}
.content .background-content p:nth-child(2){
    font-size: 30px;
}
.content .background-content p:nth-child(3){
    font-size: 40px;
}

.content .isi-content {
    text-align: center;
    display: flex;
    padding-top: 50px;
    height: 400px;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .45);
}

.content .isi-content .item{
    width: 180px;
    position: relative;
    background-color: rgba(200, 190, 140, 1);
    height: 200px;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1)
}

.content .isi-content .kategori{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

.content .isi-content .kategori h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgba(200, 190, 140, 1);
    text-shadow: 2px 2px black;
}

.content .isi-content .kategori .isi-kategori{
    display: flex;
    flex-direction: row;
    /* margin-top: 1500px; */
    gap: 75px;
}

.content .isi-content .item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content .isi-content .item:hover{
    box-shadow: inset -5px -5px 9px rgba(94, 104, 121, 0.3),
                inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    color: black;
    cursor: pointer;
}

.content .isi-content img{
    width: 150px;
    height: 150px;
}

.content .isi-content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.jenis {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: rgba(200, 190, 140, 1);
    /* width: 300px; */
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.jenis a {
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    width: 115px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.jenis a:nth-child(2) {
    margin-bottom: 10px;
}

.jenis a:hover {
    background-color: rgb(231, 224, 190);
    transform: scale(1.05);
}

.jenis a:active {
    background-color: #004080;
    transform: scale(1.02);
}


.footer {
    margin-top: 190px;
    background-color: rgba(200, 190, 140, 1);
    border: 1px solid rgba(200, 190, 140, 1);
    color: #000;
    padding: 20px 0 0 0;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(200, 190, 140, 1);
    line-height: 1.6;
}
.footer .footer-content {
    display: flex;
    /* background-color: #34db4a; */
    flex-direction: row;
    justify-content: space-around; /* Space between the items */
    align-items: flex-start; /* Align items at the start */
    /* max-width: 1250px; Limit the width to ensure proper spacing */
    width: 100%; /* Ensure the footer content takes full width */
    margin: auto; /* Center the footer content */
}
.footer .footer-section {
    /* flex: 1; */
    margin: 20px;
    min-width: 250px;
}

.footer .footer-section h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.footer .footer-section h2 {
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 100px;
    font-weight: 600;
}

.footer .footer-section p {
    font-size: 16px;
    font-family: 'Lobster', cursive;
    line-height: 1.8;
    /* margin-bottom: 20px; */
    padding-left: 15px;
    
}
.footer .contact {
    padding-left: 15px;
    margin-top: 5px;
}
.footer .contact span {
    display: block;
    font-family: 'Lobster', cursive;
    margin-bottom: 5px;
    font-size: 14px;
}
.footer .contact img {
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.footer .social-icons img {
    height: 30px;
    width: 30px;
}

.footer .social-icons {
    /* background-color: yellowgreen; */
    margin-left: 100px;
}

.footer .social-icons a {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.footer .footer-bottom {
    text-align: center;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    /* background-color: rgba(200, 190, 140, 1); */
    line-height: 50px;
    font-family: 'Lobster', cursive;
    /* background-color: #34db4a; */
    border-top: 1px solid #444;
    box-shadow:  0 3px 7px rgba(0, 0, 0, 1);
}

.content .isi-content .item {
    opacity: 1;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}
.content .isi-content .item.active {
    transform: translateY(0);
}

.footer .social-icons img {
    transition: transform 0.3s ease;
}
.footer .social-icons img:hover {
    transform: scale(1.30);
}