* {
    margin: 0;
    padding: 0;
}

/* Bagian Header */

.header {
    /* background-color: #6CBEEB; */
    height: 50px;
    padding: 10px;
    line-height: 50px;
    background-color: white;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(200, 190, 140, 1);
}

.header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-left: 200px;
    /* margin-top: 0px; */
}

.header .logo img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.header .logo h1{
    /* margin-left: 150px;  */
    font-size: 12px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0px;
    /* margin-left: 10px; */
    margin-top: -20px;
}

.header .menu-header ul{
    list-style: none;
    /* background-color: green; */
    text-align: center;
}

.header .menu-header ul li {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    width: 180px;
    /* border: 1px solid salmon; */
}

.header .menu-header ul li a {
    display: block;
    padding: 0px 0px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.header .menu-header ul li ul.dropdown li {
    display: block;
    background: peachpuff;
    margin:  0px;
    width: 180px;
    margin-left: 1px;
    /* height: ; */
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    /* margin-top: 0px; */
}

.header .menu-header ul li ul.dropdown{
    width: auto;
    /* background-color: red; */
    position: absolute;
    /* height: 10px; */
    z-index: 999;
    /* line-height: 50px; */
    /* height: 50px; */
    /* margin-left: 2px; */
    /* border: 1px solid gold; */
    display: none;
    margin-top: 10px;
}

.header .menu-header ul li ul.dropdown li{
    background-color: white;
    /* border: 1px solid salmon; */
    box-shadow: 0px 0px 3px rgba(200, 190, 140, 1);
}


.header .menu-header ul li a:hover {
    background-color: rgba(200, 190, 140, 1);
    color: white;
    line-height: 50px;
    height: 50px;
    margin: 0 10px;
    box-sizing: border-box;
    box-shadow: inset -3px -3px 9px rgba(94, 104, 121, 0.3),
                inset 3px 3px 9px rgba(94, 104, 121, 0.3);
} 

.content {
    min-height: calc(100vh - 50px - 50px); /* Sesuaikan tinggi konten dengan tinggi layar dikurangi tinggi header dan footer */
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 190, 140, 1);
    align-items: center;
    padding-top: 50px; /* Atur padding atas untuk menyesuaikan header */
    padding-bottom: 50px; /* Atur padding bawah untuk menyesuaikan footer */
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar atau tinggi elemen */
}

.content .klaim {
    margin-top: 75px;
    display: flex;
    box-shadow: 0px 0px 3px gray;
    flex-direction: column;
    border-radius: 10px;
    align-items: flex-start;
    /* margin-top: 70px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    justify-content: flex-start;
    background-color: rgb(242, 242, 243);
}

.content .isi-klaim {
    padding-bottom: 30px;
    background-color: white;
    /* background-color: lightgreen; */
    display: flex;
    padding-top: 30px;
    /* box-shadow: 0px 0px 3px gray; */
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center ;
    /* height: 500px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    width: 550px;
    gap: 10px;
    /* padding: 150px 0; */
}

.content .klaim .isi-klaim img {
    height: 300px;
    width: 300px;
}

.content .klaim .isi-klaim p.judul-klaim{
    font-size: 24px;
}



.content .klaim .isi-klaim table{
    border-collapse: collapse;
    width: 450px;
    margin-bottom: 20px;
    /* background-color: aqua; */
    /* max-width: 800px; */
    background-color: rgb(224, 221, 221);
    /* text-align: left; */
}

th, td {
    /* height: 30px; */
    padding: 5px;
    text-align: justify;
    vertical-align: top;
    width: 50%;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

table, tr, td {
    border: 3px solid white;
}

.content .klaim .header-klaim {
    background-color: rgba(94, 97, 100, .2);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}


.content .klaim .header-klaim p {
    font-size: 24px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    /* text-shadow:  2px 2px 3px white; */
    /* border-bottom: 1px solid rgba(200, 190, 140, 1); */
    /* font-weight: bold; */
}

.content .klaim .button-klaim {
    display: flex;
}

.content .klaim .button-klaim button {
    background-color: red;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: none;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin-right: 10px;
    cursor: pointer;
}

.content .klaim .button-klaim button:hover {
    background-color: rgb(245, 102, 102);
}

.content .klaim .button-klaim button.submitTerima:hover {
    background-color: rgb(123, 248, 150);
}

.content .klaim .button-klaim button.submitTerima {
    background-color: rgb(26, 163, 26);
}

.popUp-terima, .popUp-tolak {
    background-color: rgba(211, 211, 211, .3);
    position: fixed; /* Diganti menjadi fixed agar pop-up tetap di tengah saat menggulir */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.popUp-tolak {
    display: none;
}

.terima, .tolak {
    background-color: white;
    width: 500px;
    position: relative;
    
    /* overflow: hidden; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Menambahkan sedikit shadow untuk efek visual */
}

.terima .header-terima, .terima .isi-terima, .terima .footer-terima, .tolak .header-tolak, .tolak .isi-tolak, .tolak .footer-tolak {
    padding: 20px 15px;
}

.terima .header-terima, .tolak .header-tolak {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terima .close, .tolak .close {
    border-radius: 100%;
    font-size: 30px;
    width: 30px;
    height: 30px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    /* display: none; */
}

.terima .isi-terima, .tolak .isi-tolak {
    border-top: 1px solid rgba(200, 190, 140, 1);
    border-bottom: 1px solid rgba(200, 190, 140, 1);
}

.terima .footer-terima, .tolak .footer-tolak {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.terima .footer-terima button, .tolak .footer-tolak button{
    cursor: pointer;
    border: none;
    float: right;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.terima .footer-terima button:hover, .tolak .footer-tolak button:hover{background-color: rgb(11, 235, 78);}

.terima .footer-terima button:nth-child(1), .tolak .footer-tolak button:nth-child(2) {background-color: red;}
.terima .footer-terima button:nth-child(1):hover, .tolak .footer-tolak button:nth-child(2):hover {background-color: rgb(255, 90, 90);}

body.no-scroll {overflow: hidden;}


.footer {
    /* margin-top: 200px; */
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 190, 140, 1);
    color: #000;
    padding: 20px 0 0 0;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(200, 190, 140, 1);
    line-height: 1.6;
}
.footer .footer-content {
    display: flex;
    /* background-color: #34db4a; */
    flex-direction: row;
    justify-content: space-around; /* Space between the items */
    align-items: flex-start; /* Align items at the start */
    /* max-width: 1250px; Limit the width to ensure proper spacing */
    width: 100%; /* Ensure the footer content takes full width */
    margin: auto; /* Center the footer content */
}
.footer .footer-section {
    /* flex: 1; */
    margin: 20px;
    min-width: 250px;
}

.footer .footer-section h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
}

.footer .footer-section h2 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 100px;
    font-weight: 600;
}

.footer .footer-section p {
    font-size: 16px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.8;
    /* margin-bottom: 20px; */
    padding-left: 15px;
    
}
.footer .contact {
    padding-left: 15px;
    margin-top: 5px;
}
.footer .contact span {
    display: block;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 5px;
    font-size: 14px;
}
.footer .contact img {
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.footer .social-icons img {
    height: 30px;
    width: 30px;
}

.footer .social-icons {
    /* background-color: yellowgreen; */
    margin-left: 100px;
}

.footer .social-icons a {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.footer .footer-bottom {
    text-align: center;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    /* background-color: rgba(200, 190, 140, 1); */
    line-height: 50px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    /* background-color: #34db4a; */
    border-top: 1px solid #444;
    box-shadow:  0 3px 7px rgba(0, 0, 0, 1);
}

.footer .social-icons img {
    transition: transform 0.3s ease;
}
.footer .social-icons img:hover {
    transform: scale(1.30);
}