* {
    margin: 0;
    padding: 0;
}

/* Bagian Header */

body {
    background-color: rgba(200, 190, 140, 0.9);
}

.header {
    background-color: white;
    overflow: hidden;
    height: 40px;
    padding-bottom: 10px;
    line-height: 50px;
    box-shadow: 0px 0px 10px rgba(124, 124, 124, .75);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header h1{
    float: left;
    margin-left: 150px;
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
}

.menu-header {
    float: right;
    margin-right: 150px;
}

.menu-header ul li{
    margin-right: 10px;
    display: inline-block;
}

.menu-header ul li p {
    color: black;
    font-style: italic;
}

.menu-header ul li a{
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3498db;
    color: black;
}

.menu-header ul li:last-child a{
    background-color: #3498db;
    color: #fff;
}

.menu-header ul li a:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3),
                0 2px 3px rgba(0, 0, 0, 0.3);;
}

.content {
    margin: 75px auto 10px;
    width: 750px;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 0px 0px 10px rgba(124, 124, 124, .9);
}

.content .judul-content {
    padding: 20px 30px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    height: 30px;
    background-color: rgba(200, 190, 140, .3);
}

.content .judul-content img{
    height: 30px;
    width: 30px;
    margin-top: 4px;
    line-height: 50px;
    cursor: pointer;
}

.content .judul-content p{
    font-size: 24px;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-data {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-data input{
    border: none;
    border-bottom: 1px solid rgba(200, 190, 140, 1);
}

/* .input-data .username {
    background-image: url("../HTML/icon/username.png");
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-size: 30px;   
    padding-left: 50px;
}

.input-data .password {
    background-image: url("../HTML/icon/password.png");
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-size: 30px;   
    padding-left: 50px;
}

.input-data .confPassword {
    background-image: url("../HTML/icon/password.png");
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-size: 30px;   
    padding-left: 50px;
}

.input-data .namaLengkap {
    background-image: url("../HTML/icon/nama.png");
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-size: 30px;   
    padding-left: 50px;
}

.input-data .jenisKelamin {
    background-image: url("../HTML/icon/jeniskelamin.png");
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-size: 30px;   
    padding-left: 50px;
}

.input-data .alamat {
    background-image: url("../HTML/icon/alamat.png");
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-size: 30px;   
    padding-left: 50px;
}

.input-data .noHP {
    background-image: url("../HTML/icon/noHp.png");
    background-position: 10px 3px;
    background-repeat: no-repeat;
    background-size: 30px;   
    padding-left: 50px;
} */

.content input, .content select {
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(200, 190, 140, 1);
}

.content input:last-child{
    margin-top: 10px;
    cursor: pointer;
    padding: 15px;
    background-color: #3498db;
    text-transform: uppercase;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.content input:last-child:hover{
    background-color: darkblue;
    border: 1px solid #34db4a;
}