body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Changed to flex-start */
    min-height: 100vh;
    padding: 150px 0 0 0 ;
    background-color: rgba(200, 190, 140, 1);
}

.content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 100px auto;
    gap: 10px;
    padding-bottom: 20px; /* Added padding-bottom for extra spacing */
}

.content .judul-content {
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content .judul-content h1 {
    padding-left: 10px;
    font-size: 26px;
}

.center-form {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.center-form .emailClass, .center-form .codeClass {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    height: 50px;
    /* background-color: #0056b3; */
    margin-top: 10px;
}

.center-form label {
    /* margin: auto; */
    padding-left: 10px;
    line-height: 50px;
    /* background-color: #f5f5f5; */
    width: 25%;
}

.center-form input[type="email"],  .center-form input[type="text"], .center-form input[type="password"]{
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    margin: auto;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.center-form .submitForm {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.center-form .submitForm button{
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    background-color: #007BFF;
}

.center-form .submitForm a {
    text-decoration: none;
    padding: 10px 0;
    background-color: rgb(241, 232, 93);
    text-align: center;
}

.center-form .submitForm button, .center-form .submitForm a {
    color: #fff;
    width: 225px;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
} 

.center-form .submitForm a:hover{
    background-color: rgb(231, 225, 130);
}

.center-form button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 190, 140, 1);
    color: #000;
    padding: 20px 0 0 0;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(200, 190, 140, 1);
    line-height: 1.6;
    margin-top: 200px; /* Ensures footer is pushed to the bottom */
}
.footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}
.footer .footer-section {
    margin: 20px;
    min-width: 250px;
}

.footer .footer-section h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.footer .footer-section h2 {
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 100px;
    font-weight: 600;
}

.footer .footer-section p {
    font-size: 16px;
    font-family: 'Lobster', cursive;
    line-height: 1.8;
    padding-left: 15px;
}

.footer .contact {
    padding-left: 15px;
    margin-top: 5px;
}
.footer .contact span {
    display: block;
    font-family: 'Lobster', cursive;
    margin-bottom: 5px;
    font-size: 14px;
}
.footer .contact img {
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.footer .social-icons img {
    height: 30px;
    width: 30px;
}

.footer .social-icons {
    margin-left: 100px;
}

.footer .social-icons a {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.footer .footer-bottom {
    text-align: center;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Lobster', cursive;
    border-top: 1px solid #444;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 1);
}

.footer .social-icons img {
    transition: transform 0.3s ease;
}
.footer .social-icons img:hover {
    transform: scale(1.30);
}
